In [5]:
import pandas
import pickle

In [6]:
# Pickling functions
def pickle_it(data, filename):
    with open(filename, "wb") as picklefile:
        pickle.dump(data, picklefile)

def load_pickle(filename):
    with open(filename, "rb") as picklefile: 
        return pickle.load(picklefile)

In [7]:
d = load_pickle('imdb_fulldata.pkl')

In [10]:
df = pandas.DataFrame(d)
df

         Budget      Gross  Metascore  OpeningWkd ReleaseDate  Runtime  Year
0     175000000  353495492        NaN    90440272  2015-10-30       84     3
1     175000000  353495492        NaN    90440272         NaT      NaN   NaN
2     175000000  353495492        NaN    90440272  2014-10-06       75  2014
3     175000000  353495492        NaN    90440272  2009-06-13       72  2009
4     175000000  353495492        NaN    90440272  2007-09-12      NaN  2007
5     175000000  353495492        NaN    90440272  2009-06-27      112  2009
6     175000000  353495492        NaN    90440272  1994-10-07       76  1994
7     175000000  353495492        NaN    90440272  1995-04-07       78  1995
8     175000000  353495492        NaN    90440272  2005-10-06      NaN  1998
9     175000000  353495492        NaN    90440272  2003-10-16      100  2003
10    175000000  353495492        NaN    90440272  2012-06-26       50  1992
11    175000000  353495492        NaN    90440272  2017-07-06       86  2017
12    175000000  353495492        NaN    90440272  2012-12-19       95  2012
13    175000000  353495492         72    90440272  2012-07-21      117  2012
14    175000000  353495492        NaN    90440272  1994-10-06       83  1994
15    175000000  353495492        NaN    90440272  1981-03-14      NaN  1981
16    175000000  353495492        NaN    90440272  1972-05-19       81  1972
17    175000000  353495492        NaN    90440272         NaT      NaN  2016
18    175000000  353495492        NaN    90440272  2005-04-09      108  2005
19    175000000  353495492        NaN    90440272  2016-10-06       90  2016
20    175000000  353495492        NaN    90440272         NaT      NaN   NaN
21    175000000  353495492        NaN    90440272  2012-06-18       50  1991
22    175000000  353495492        NaN    90440272  2003-03-08       90  2003
23    175000000  353495492        NaN    90440272  1945-02-04       71  1944
24    175000000  353495492        NaN    90440272         NaT      NaN   NaN
25    175000000  353495492        NaN    90440272  2001-12-06      100  1989
26    175000000  353495492        NaN    90440272         NaT      NaN  1949
27    175000000  353495492        NaN    90440272  1959-02-06       75  1959
28    175000000  353495492        NaN    90440272  2004-07-10       70  2003
29    175000000  353495492        NaN    90440272  2005-04-16       70  2005
...         ...        ...        ...         ...         ...      ...   ...
4162  175000000  353495492        NaN    90440272  2015-10-06      NaN  2015
4163  175000000  353495492        NaN    90440272  1999-10-06       46  1999
4164  175000000  353495492        NaN    90440272  2010-04-23      100  2010
4165  175000000  353495492         47    90440272  2009-11-27       86  2009
4166  175000000  353495492        NaN    90440272  1991-03-09      NaN  1991
4167  175000000  353495492        NaN    90440272  2014-02-06      108  2014
4168  175000000  353495492        NaN    90440272  1970-03-17       81  1970
4169  175000000  353495492        NaN    90440272  1965-11-23      NaN  1965
4170  175000000  353495492        NaN    90440272         NaT       80  2010
4171  175000000  353495492        NaN    90440272  2006-08-01       75  2006
4172  175000000  353495492        NaN    90440272  2005-09-29       80     2
4173  175000000  353495492        NaN    90440272         NaT       74  1997
4174  175000000  353495492        NaN    90440272  2013-04-19       80  2013
4175  175000000  353495492         60    90440272  2009-09-09       79     9
4176  175000000  353495492        NaN    90440272         NaT      NaN  2015
4177  175000000  353495492        NaN    90440272  2007-10-25       85  2007
4178  175000000  353495492        NaN    90440272  2001-09-27       83  2001
4179  175000000  353495492        NaN    90440272  2009-03-26       95     2
4180  175000000  353495492        NaN    90440272         NaT      NaN  1971
4181  175000000  353495492        NaN    90440272  2000-08-01      NaN  1999
4182  175000000  353495492        NaN    90440272         NaT      NaN  2017
4183  175000000  353495492        NaN    90440272  2016-12-23      NaN  2016
4184  175000000  353495492        NaN    90440272         NaT      NaN  2005
4185  175000000  353495492        NaN    90440272  1988-02-06       60  1988
4186  175000000  353495492        NaN    90440272  2016-07-06       90  2016
4187  175000000  353495492        NaN    90440272  2003-05-21       75  2003
4188  175000000  353495492        NaN    90440272         NaT       58  2012
4189  175000000  353495492        NaN    90440272  2004-07-08       75  2004
4190  175000000  353495492        NaN    90440272  2004-02-11       85  2004
4191  175000000  353495492        NaN    90440272         NaT      NaN  1947

[4192 rows x 7 columns]

In [17]:
d = load_pickle('imdbdata.pkl')

In [20]:
df1 = pandas.DataFrame(d)
df1.sort(['Budget'])

,Budget,Gross,Metascore,OpeningWkd,ReleaseDate,Runtime,Title,Year
0,175000000,353495492,NaN,90440272,2015-10-30,84,Beautiful Danger 3D Animated Teen Thriller,3
1663,175000000,353495492,NaN,90440272,2003-12-10,65,Les contes de l'horloge magique,2003
1664,175000000,353495492,NaN,90440272,2015-03-14,87,Kyôkai no Kanata: kako-hen,2015
1665,175000000,353495492,NaN,90440272,NaT,NaN,An Animated American - IMDb,NaN
1666,175000000,353495492,NaN,90440272,NaT,NaN,Super Secret Ghost Project - IMDb,NaN
1667,175000000,353495492,NaN,90440272,NaT,56,Cantinflas profesor de historia,1983
1668,175000000,353495492,NaN,90440272,NaT,NaN,No Way Jose!,2015
1669,175000000,353495492,NaN,90440272,1983-08-12,69,Computer haekjeonham pokpa daejakjeon,1983
1670,175000000,353495492,NaN,90440272,2004-08-17,50,Dragon Ball Z: Bojack Unbound,1993
1671,175000000,353495492,NaN,90440272,2003-08-15,85,Elysium,2003
1672,175000000,353495492,NaN,90440272,2012-10-26,47,Lilla Anna och Långa farbrorn,2012
1673,175000000,353495492,NaN,90440272,2013-10-30,70,Jasmine,2013
1674,175000000,353495492,NaN,90440272,2005-03-16,48,Tenjho Tenge: Ultimate Fight,2005
1675,175000000,353495492,NaN,90440272,2011-10-06,45,LEGO Hero Factory: Savage Planet,2011
1676,175000000,353495492,NaN,90440272,2003-05-07,NaN,Rozloucení,2003
1677,175000000,353495492,NaN,90440272,2001-08-17,85,10 + 2: El gran secreto,10
1662,175000000,353495492,NaN,90440272,NaT,NaN,Pig Scrolls - IMDb,NaN
1661,175000000,353495492,NaN,90440272,2010-03-04,98,Upon a Midnight Clear,2009
1660,175000000,353495492,NaN,90440272,2017-12-16,NaN,Dog's World,2017
1659,175000000,353495492,NaN,90440272,2011-10-07,93,Sea Level,2011
1643,175000000,353495492,NaN,90440272,1978-11-15,132,The Lord of the Rings,1978
1644,175000000,353495492,NaN,90440272,1981-12-26,90,Shunmao Monogatari Taotao,1981
1645,175000000,353495492,40,90440272,2008-09-19,87,Igor,2008
1646,175000000,353495492,NaN,90440272,2001-02-21,49,"Pic-Pic, André et leurs amis",2001
1647,175000000,353495492,NaN,90440272,NaT,NaN,Robot Zot - IMDb,NaN
1648,175000000,353495492,NaN,90440272,1995-03-04,51,Dragon Ball Z: Fusion Reborn,1995
1649,175000000,353495492,NaN,90440272,2014-08-08,80,Yugo and Lala 2,2
1678,175000000,353495492,NaN,90440272,NaT,NaN,Ucenicul vrajitor,1985
1650,175000000,353495492,NaN,90440272,2011-10-06,90,Dayo,2008
1652,175000000,353495492,NaN,90440272,2011-05-01,74,Karol,2011
...,...,...,...,...,...,...,...,...
848,175000000,353495492,NaN,90440272,1949-04-15,55,The Emperor's Nightingale,1949
850,175000000,353495492,NaN,90440272,2015-10-06,108,The Little Prince,2015
851,175000000,353495492,NaN,90440272,2009-03-25,75,Animal Channel,2009
852,175000000,353495492,NaN,90440272,2010-04-16,73,Godkiller: Walk Among Us,2010
853,175000000,353495492,NaN,90440272,2009-12-23,87,Yonayona pengin,2009
854,175000000,353495492,NaN,90440272,2002-10-10,73,The King's Beard,2002
855,175000000,353495492,NaN,90440272,2001-11-16,90,A Dog Called Pain,2001
856,175000000,353495492,59,90440272,2007-11-16,115,Beowulf,2007
849,175000000,353495492,NaN,90440272,2015-10-06,NaN,Holy Knight,2012
936,175000000,353495492,NaN,90440272,1959-10-06,57,Dikie lebedi,1959
839,175000000,353495492,NaN,90440272,NaT,NaN,LogoVille,2015
837,175000000,353495492,NaN,90440272,2005-12-10,NaN,Eiga futari wa purikyua max heart 2: Yuki-zora...,2
821,175000000,353495492,NaN,90440272,NaT,58,I picchiatelli,1958
822,175000000,353495492,NaN,90440272,1987-12-25,87,Pinocchio and the Emperor of the Night,1987
823,175000000,353495492,NaN,90440272,2007-01-06,88,Dante's Inferno,2007
824,175000000,353495492,NaN,90440272,2013-03-22,110,The Adventures of Sinbad,2013
825,175000000,353495492,NaN,90440272,NaT,NaN,Sissi,1932
826,175000000,353495492,NaN,90440272,NaT,NaN,Sadako and the Thousand Paper Cranes,2017
827,175000000,353495492,NaN,90440272,NaT,NaN,The One and Only Ivan - IMDb,NaN
838,175000000,353495492,NaN,90440272,2009-10-12,NaN,Kao an,2009
828,175000000,353495492,NaN,90440272,1993-12-18,NaN,Ginga eiyû densetsu: Arata naru tatakai no jok...,1993
830,175000000,353495492,63,90440272,2014-07-24,122,The Congress,2013
831,175000000,353495492,NaN,90440272,2003-08-03,75,Xevious,2003
832,175000000,353495492,NaN,90440272,2011-06-23,NaN,Werner - Eiskalt!,2011
833,175000000,353495492,NaN,90440272,2010-06-06,65,The Mysterious Presages of León Prozak,2010
834,175000000,353495492,NaN,90440272,1992-04-10,76,FernGully: The Last Rainforest,1992
835,175000000,353495492,NaN,90440272,2009-01-16,80,Xi Yang Yang Yu Hui Tai Lang Zhi Niu Qi Chong ...,2009
836,175000000,353495492,74,90440272,2013-04-12,84,An Oversimplification of Her Beauty,2012
829,175000000,353495492,NaN,90440272,1988-10-06,76,Return to Treasure Island,1988
2499,175000000,353495492,NaN,90440272,2008-10-15,85,The History,2008